@font-face {
    font-family:'Indie_Flower';
    src: url(./fuentes/Indie_Flower/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: 'Permanent_Marker';
    src: url(./fuentes/Permanent_Marker/PermanentMarker-Regular.ttf);
}

body{
display: flex;
flex-direction: column;
}

header{
    background-color: #402B28;
    width: 100vw;
  
  
}

main{
    background-color:antiquewhite;
    width: 100vw;
    height: 80vh;    
    display: flex;
    flex-direction: column;
    
}

section{
    margin-top: 6%;
    
}
footer{
    background-color: #80564F;
    width: 100vw;
    height: 20vh;
}

h1{
    font-family: 'Permanent_Marker';
    font-size:xx-large;
    align-self: center;
    padding-top: 2%;
}

.nav{
   padding: 1.5%;
   font-family: 'Permanent_Marker';
}

.wrapContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2%;
}
.addNameContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    padding: 2%;
    margin-bottom: 2%; 
}

.formContainer{
    background-color: #FFAB9E;
    font-family: 'Indie_Flower';
    width: 30vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    padding: 5%;     
}

/* color de la tabla head-dark y tBody*/
.thead-dark{
    border: solid #402B28 ;
    font-family: 'Permanent_Marker';
    color: #FFAB9E;
    background-color: #402B28;
}

.styleTbody{
 background-color: #80564F;
 border: solid #80564F;
 color: #FFAB9E;
 font-family: 'Indie_Flower';

}

#formButton{
    margin: auto;
    margin-bottom: 7%;
    margin-top: 5%;
}
