@font-face {
    font-family:'Indie_Flower';
    src: url(./fuentes/Indie_Flower/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: 'Permanent_Marker';
    src: url(./fuentes/Permanent_Marker/PermanentMarker-Regular.ttf);
}

body{
display: flex;
flex-direction: column;
}

header{
    background-color: #402B28;
    width: 100vw;
    height: 14vh;
}

main{
    background-color:antiquewhite;
    width: 100vw;
    height: 80vh;    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

section{
    margin-top: 15%;
    
}
footer{
    background-color: #80564F;
    width: 100vw;
    height: 6vh;
}

h1{
    font-family: 'Permanent_Marker';
    font-size:xx-large;
    align-self: center;
}

.addNameContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center; 
}

.formContainer{
    background-color: #FFAB9E;
    font-family: 'Indie_Flower';
    width: 30vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    padding: 5%;     
}

#formButton{
    margin: auto;
    margin-bottom: 5%;
}
